.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 10%;
  margin-right: 10%;
}

.center-container{
  display: flex;
  flex-direction: column;
}

.job-date{
  display: flex;
  flex-direction: row;
}

.tender-date{
  display: flex;
  flex-direction: row;
}

.right-container{
  display: flex;
  flex-direction: column;
}

.payments-1{
  display: flex;
  flex-direction: column;
}
.payments-2{
  display: flex;
  flex-direction: column;
}
.payments-3{
  display: flex;
  flex-direction: column;
}